# MHGU Monster Size

In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv('Monster-size.csv')
df.head()

   ID   MONSTER           SIZE(cm)
0   1  Altaroth        6.72 - 9.51
1   2    Anteka    300.76 - 544.48
2   3   Apceros    334.23 - 621.86
3   4  Aptonoth  813.61 - 1.184.32
4   5    Blango    228.97 - 404.70